# OpenAPI 3.0 spec for the Next.js port of QueroUmaCor's backend.
# Generated by hand from app/api/*/route.ts + lib/api/_services/*.ts.
# Mirrors functions/*/openapi.yaml (vanilla) but reflects the *real* Next.js
# routes — notably: admin endpoints live under /admin/* (nested), several
# endpoints accept BOTH JSON and multipart (upload-style-ref) where the
# vanilla doc only mentioned one, and /health returns `supabase: boolean`
# (not the string enum) plus an extra `request_id`.
#
# Auth model: every endpoint that uses `gateProAI` / `gateProAIForm` /
# `requireAuth` / `requireAuthStrict` requires a Supabase JWT — by default
# in the `Authorization: Bearer <token>` header, but most endpoints also
# accept the token via `accessToken` field in the JSON body or multipart
# FormData (compat with the vanilla clients). PRO-gated endpoints also
# require `profile.is_pro=true`. Rate limits are advisory: enforced
# server-side via the `check_rate_limit` RPC (per user, per endpoint, per
# minute). Limits cited come from the `limit` arg passed by each handler.
#
# TODO (Backend#22 follow-up): auto-generate this from route handlers via
# `tsoa` or `next-openapi-gen` — see scripts/generate-openapi.ts.

openapi: 3.0.3
info:
  title: QueroUmaCor API (Next.js)
  version: 1.0.0
  description: |
    Backend endpoints for the Next.js port of the QueroUmaCor PWA. Runs on
    the edge runtime (`runtime = 'edge'`). Most endpoints are 1:1 ports of
    the legacy Cloudflare Pages Functions in `functions/api/*`; see
    `next-app/lib/api/_services/*` for the business logic and the vanilla
    `openapi.yaml` at repo root for the legacy contract.
servers:
  - url: https://app2.queroumacor.com.br/api
    description: Staging (Next.js preview on Cloudflare Pages)
  - url: https://queroumacor.com.br/api
    description: Production (cutover target — currently still served by vanilla)

tags:
  - name: auth
    description: Login / signup / session helpers (rate-limit gate).
  - name: ai
    description: PRO AI features (text, vision, image, transcription, TTS).
  - name: payments
    description: Mercado Pago checkout + webhook (PRO subscription + Loja).
  - name: admin
    description: Endpoints restricted to ADMIN_EMAILS (moderation, users).
  - name: moderation
    description: Text / image / video content moderation pipelines.
  - name: social
    description: Social features (captions, IG art generation).
  - name: profile
    description: User profile lifecycle (LGPD export, etc).
  - name: support
    description: Public helpers (city list, health check, error reporting).

paths:
  /health:
    get:
      tags: [support]
      summary: Liveness check for uptime monitors.
      description: |
        Always 200. Body indicates Supabase reachability. Adds
        `request_id` (set by the Next.js middleware) for log correlation.
      responses:
        '200':
          description: Status payload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  time: { type: string, format: date-time }
                  app: { type: string, example: queroumacorapp }
                  region:
                    type: string
                    description: Edge region name (VERCEL_REGION / CF_REGION).
                  version: { type: string, description: NEXT_PUBLIC_APP_VERSION. }
                  supabase:
                    type: boolean
                    description: True when Supabase REST root responded.
                  request_id: { type: string }

  /log-error:
    post:
      tags: [support]
      summary: Receive client error reports + Web Vitals.
      description: |
        Fire-and-forget. Logs to the edge runtime console and inserts into
        the `errors` table when `SUPABASE_SERVICE_ROLE_KEY` is set. Accepts
        both vanilla field names (`msg`, `ua`, `ctx`) and camelCase aliases
        (`message`, `userAgent`, `context`). Rate-limit by IP not yet
        ported in this codebase (TODO in the route file). Always returns
        200 (even on invalid JSON) to avoid log-error → log-error loops.
        413 is the only non-200 status when the payload exceeds 1 MB.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  maxLength: 32
                  description: "'error' | 'unhandledrejection' | 'web-vital' | 'manual' | 'pageview'."
                msg: { type: string, maxLength: 500 }
                message: { type: string, maxLength: 500, description: Alias for msg. }
                stack: { type: string, maxLength: 1500 }
                url: { type: string, maxLength: 300 }
                ua: { type: string, maxLength: 200 }
                userAgent: { type: string, maxLength: 200, description: Alias for ua. }
                metric:
                  type: string
                  maxLength: 32
                  description: "LCP | CLS | INP | FCP | TTFB."
                value: { type: number }
                ctx: { type: string, maxLength: 100 }
                context: { type: string, maxLength: 100, description: Alias for ctx. }
                user_id: { type: string, format: uuid }
      responses:
        '200':
          description: Ack.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, example: true }
        '413': { description: Payload > 1 MB. }
        '500': { description: Internal error. }
    options:
      tags: [support]
      summary: CORS preflight.
      responses:
        '204': { description: No content. }

  /cidades:
    get:
      tags: [support]
      summary: List municipalities for a Brazilian UF (proxies IBGE).
      description: |
        Public — no auth required. Outbound fetch cached via Next data
        cache (revalidate 30d); response carries
        `Cache-Control: public, max-age=86400, s-maxage=2592000` for CDN.
        The `X-Cache` header currently reads `BYPASS` until KV is wired
        — see TODO in the route file.
      parameters:
        - name: uf
          in: query
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 2
          description: UF code (AC, AL, ..., TO). Whitelisted against the 27 valid UFs.
      responses:
        '200':
          description: Cities for the UF.
          headers:
            X-Cache:
              schema:
                type: string
                enum: [BYPASS, HIT, MISS]
          content:
            application/json:
              schema:
                type: object
                properties:
                  uf: { type: string }
                  cidades:
                    type: array
                    items:
                      type: object
                      properties:
                        nome: { type: string }
        '400': { description: Invalid UF. }
        '500': { description: Internal error. }
        '502': { description: IBGE error. }
        '504': { description: IBGE timeout (10s). }

  /auth-rate-check:
    post:
      tags: [auth]
      summary: Advisory rate-limit gate for login/signup/reset.
      description: |
        Client calls this BEFORE hitting Supabase Auth. Returns 200 if
        allowed, 429 if blocked. Limits: login=10/min, signup=5/min,
        reset=5/min (per IP+action). Fail-open when service role missing
        (`skipped: true` in the success body).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [login, signup, reset]
                  default: login
      responses:
        '200':
          description: Allowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowed: { type: boolean, example: true }
                  action: { type: string }
                  limit: { type: integer }
                  skipped:
                    type: boolean
                    description: True when fail-open (service role missing).
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
    options:
      tags: [auth]
      summary: CORS preflight.
      responses:
        '204': { description: No content. }

  /me-export:
    post:
      tags: [profile]
      summary: LGPD Art. 18 V — export ALL personal data for the logged-in user.
      description: |
        Returns a downloadable JSON file (Content-Disposition: attachment)
        with the user's profile, quotes, orders, messages, notifications,
        notes, points, reviews, follows, likes, comments, posts and
        referrals. Rate limit: 3/min per user (expensive query fan-out).
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken:
                  type: string
                  description: Optional fallback when no Authorization header.
      responses:
        '200':
          description: Personal data dump.
          headers:
            Content-Disposition:
              schema:
                type: string
                example: attachment; filename="queroumacor-meus-dados-abcd1234.json"
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: See _meta.schema_version and per-table arrays.
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: Failed to validate token. }
        '503': { description: Service role not configured. }

  /admin/errors-list:
    post:
      tags: [admin]
      summary: List client error reports for the admin dashboard.
      description: |
        Reads the `errors` table via service role and returns paginated
        rows. Caller email must be in `ADMIN_EMAILS`. Rate limit: 60/min
        per admin.
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken: { type: string }
                limit: { type: integer, minimum: 1, maximum: 200, default: 50 }
                offset: { type: integer, minimum: 0, default: 0 }
                type:
                  type: string
                  maxLength: 32
                  description: Filter by error type (e.g. 'error', 'web-vital').
                since_hours:
                  type: integer
                  minimum: 1
                  maximum: 720
                  default: 24
                search:
                  type: string
                  maxLength: 100
                  description: ilike substring match against `msg`.
      responses:
        '200':
          description: Paginated rows.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  total: { type: integer }
                  limit: { type: integer }
                  offset: { type: integer }
                  since_hours: { type: integer }
        '400': { description: Invalid JSON. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: Supabase query failed. }
        '503': { description: Service role or ADMIN_EMAILS not configured. }
    options:
      tags: [admin]
      summary: CORS preflight.
      responses:
        '204': { description: No content. }

  /admin/moderate:
    post:
      tags: [admin, moderation]
      summary: Approve or reject a post from the moderation queue.
      description: |
        Admin (`ADMIN_EMAILS`) approves/rejects pending posts. On reject,
        the post row and its media (Supabase storage `posts/...`) are
        deleted. Action `check` just returns whether the caller is an
        admin (no rate-limit, no postId required). Rate limit: 60/min.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                accessToken: { type: string }
                action:
                  type: string
                  enum: [check, approve, reject]
                postId:
                  type: string
                  description: UUID of the post (required for approve/reject).
      responses:
        '200':
          description: |
            For `check`: `{ admin: boolean }`. For approve/reject: `{ ok: true }`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  admin: { type: boolean }
                  ok: { type: boolean }
        '400': { description: Invalid JSON / unknown action. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: Supabase patch/delete failed. }
        '503': { description: Service role or ADMIN_EMAILS not configured. }

  /admin/users:
    post:
      tags: [admin]
      summary: List users, or promote / revoke portal access, toggle PRO, verify, change role.
      description: |
        Two modes. **Search/read** (omit `action`): pass `query`, `email`
        or `userId` to list matching profiles. **Mutate**: pass `action`
        + `userId` to patch a profile. Mutations require the caller to
        ALSO have `portal_access=true` on their own profile (double-check
        on top of the `ADMIN_EMAILS` gate). Rate limit: 30/min.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken: { type: string }
                userId:
                  type: string
                  description: Target profile UUID (required for any `action`).
                action:
                  type: string
                  enum: [promote, revoke, verify, set_pro, set_role]
                  description: Omit to use search/read mode.
                value:
                  type: boolean
                  description: Used by `verify` and `set_pro`.
                expiresAt:
                  type: string
                  format: date-time
                  description: ISO timestamp for `set_pro` (defaults to +1 year).
                roleKey:
                  type: string
                  enum: [pintor, grafiteiro, automotivo, funileiro, cliente]
                  description: Required for `set_role`.
                query:
                  type: string
                  description: Search-mode — substring match against name/email/tag.
                email:
                  type: string
                  description: Search-mode — exact email lookup.
      responses:
        '200':
          description: |
            Mutate-mode returns `{ ok: true, patch: { ... } }`. Search-mode
            returns `{ users: [...] }` (rows from `profiles` joined view).
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  patch:
                    type: object
                    additionalProperties: true
                  users:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '400': { description: Invalid action / missing userId / bad roleKey. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { description: Caller is not an admin (email or portal_access). }
        '404': { description: Target profile not found. }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: Supabase patch failed. }
        '503': { description: Service role not configured. }

  /upload-style-ref:
    post:
      tags: [admin]
      summary: Admin uploads the visual template for an IG art style.
      description: |
        Restricted to `ADMIN_EMAILS`. Uploads to the public `style-refs`
        Supabase bucket (overwrites prior file). Used by `/ig-art` as
        IMAGE 1 template. Accepts BOTH `application/json` (vanilla
        compat — body has `photoDataUrl` data URL, max ~4 MB raw image
        / ~6 MB base64) and `multipart/form-data` (preferred — field
        `file`, max 4 MB; token in `Authorization` header).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [styleKey, photoDataUrl]
              properties:
                accessToken: { type: string }
                styleKey:
                  type: string
                  enum: [portrait, antesdepois, profissional, trabalho, grafite]
                photoDataUrl:
                  type: string
                  description: data:image/* base64 (max ~6 MB after b64 inflation).
          multipart/form-data:
            schema:
              type: object
              required: [styleKey, file]
              properties:
                styleKey:
                  type: string
                  enum: [portrait, antesdepois, profissional, trabalho, grafite]
                file:
                  type: string
                  format: binary
                  description: Image file (max 4 MB).
                accessToken: { type: string }
      responses:
        '200':
          description: Uploaded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  url: { type: string, format: uri }
                  styleKey: { type: string }
                  path: { type: string }
        '400': { description: Invalid styleKey / bad data URL / bad multipart. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { description: Image > 4 MB (multipart) or > 6 MB (JSON). }
        '500': { description: Internal error. }
        '502': { description: Supabase storage upload failed. }
        '503': { description: ADMIN_EMAILS or service role not configured. }

  /chat-ai:
    post:
      tags: [ai]
      summary: Conversation with Seu Ze (the mascot assistant).
      description: |
        Conversational helper for painters. PRO-gated, rate limit 20/min.
        OpenAI primary, Gemini fallback.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                accessToken: { type: string }
                message: { type: string, maxLength: 1500 }
                history:
                  type: array
                  maxItems: 10
                  items:
                    type: object
                    properties:
                      role: { type: string, enum: [user, assistant] }
                      content: { type: string, maxLength: 2000 }
      responses:
        '200':
          description: AI reply.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply: { type: string }
        '400': { description: Invalid JSON / missing message. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: All providers failed. }
        '503': { description: No AI keys configured. }

  /caption:
    post:
      tags: [ai, social]
      summary: Generate a portfolio post caption + hashtags from a photo.
      description: |
        Multipart upload (`image`, max 8 MB). PRO-gated, rate limit 10/min.
        Returns one short PT-BR caption and 4-6 hashtags.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                accessToken: { type: string }
      responses:
        '200':
          description: Caption + hashtags.
          content:
            application/json:
              schema:
                type: object
                properties:
                  caption: { type: string }
                  hashtags:
                    type: array
                    items: { type: string }
        '400': { description: Bad multipart / not an image. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '413': { description: Image > 8 MB. }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: OpenAI failed / invalid JSON. }
        '503': { description: OPENAI_API_KEY not set. }
        '504': { description: OpenAI timeout. }

  /transcribe:
    post:
      tags: [ai]
      summary: Transcribe audio via OpenAI Whisper (pt-BR).
      description: |
        Multipart upload (`audio` field, max 25 MB). PRO-gated, rate
        limit 10/min.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
                accessToken: { type: string }
      responses:
        '200':
          description: Transcribed text.
          content:
            application/json:
              schema:
                type: object
                properties:
                  text: { type: string }
        '400': { description: Missing audio / bad FormData. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '413': { description: Audio > 25 MB. }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: Whisper failed. }
        '503': { description: OPENAI_API_KEY not set. }
        '504': { description: Whisper timeout (60s). }

  /tts:
    post:
      tags: [ai]
      summary: Text-to-speech (Seu Ze voice, OpenAI tts-1 'onyx').
      description: |
        Returns audio/mpeg binary (not JSON). PRO-gated, rate limit
        10/min. Text capped at 2000 chars.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                accessToken: { type: string }
                text: { type: string, maxLength: 2000 }
      responses:
        '200':
          description: MP3 audio.
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '400': { description: Missing text. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: OpenAI TTS failed. }
        '503': { description: OPENAI_API_KEY not set. }
        '504': { description: TTS timeout (30s). }

  /generate-logo:
    post:
      tags: [ai]
      summary: Generate 3 brand logos via OpenAI gpt-image-1.
      description: |
        PRO-gated, rate limit 3/min. Returns three logo variants
        (badge, monogram, horizontal) at 1024x1024 transparent PNG.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                accessToken: { type: string }
                name: { type: string, maxLength: 50 }
                style: { type: string, maxLength: 80 }
      responses:
        '200':
          description: Three image URLs or data URLs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: array
                    items: { type: string }
                    minItems: 3
                    maxItems: 3
        '400': { description: Missing name. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: OpenAI failed. }
        '503': { description: OPENAI_API_KEY not configured. }
        '504': { description: gpt-image-1 timeout (45s). }

  /area-from-photo:
    post:
      tags: [ai]
      summary: Estimate paintable area (m^2) from a photo.
      description: |
        Multipart upload (`image` field, max 8 MB). Uses OpenAI
        gpt-4o-mini vision. PRO-gated, rate limit 5/min.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                accessToken: { type: string }
      responses:
        '200':
          description: Estimated area.
          content:
            application/json:
              schema:
                type: object
                properties:
                  area_m2: { type: number }
                  justification: { type: string }
        '400': { description: FormData / image invalid. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '413': { description: Image > 8 MB. }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: OpenAI failed. }
        '503': { description: OPENAI_API_KEY not set. }
        '504': { description: OpenAI timeout (25s). }

  /pricing-suggest:
    post:
      tags: [ai]
      summary: Suggest a paint job price in BRL (area * rate + extras).
      description: |
        Returns price + 1-sentence justification. The handler validates
        the AI math (price ~ area_m2 * rate_brl_per_m2 + extras, 15%
        tolerance) and recomputes deterministically on drift. PRO-gated,
        rate limit 15/min. **Note**: missing OPENAI_API_KEY returns 502
        (not 503) — quirk preserved from vanilla.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken: { type: string }
                service_type: { type: string, maxLength: 200 }
                description: { type: string, maxLength: 2000 }
                area_m2:
                  type: number
                  nullable: true
      responses:
        '200':
          description: Price suggestion.
          content:
            application/json:
              schema:
                type: object
                properties:
                  price: { type: integer, description: BRL, rounded. }
                  justification: { type: string }
        '400': { description: Empty payload / invalid JSON. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: OpenAI failed / unconfigured (sic — 502 not 503). }
        '504': { description: OpenAI timeout. }

  /fin-analysis:
    post:
      tags: [ai]
      summary: Short financial analysis from monthly aggregates.
      description: |
        Receives current/previous month totals and a sample of jobs,
        returns 3-4 Portuguese sentences with margin, trend and one
        recommendation. PRO-gated, rate limit 5/min.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken: { type: string }
                thisMonth:
                  $ref: '#/components/schemas/FinAggregate'
                lastMonth:
                  $ref: '#/components/schemas/FinAggregate'
                recentJobs:
                  type: array
                  maxItems: 12
                  items:
                    type: object
                    properties:
                      service_type: { type: string, maxLength: 80 }
                      revenue: { type: number }
                      material_cost: { type: number }
      responses:
        '200':
          description: Analysis text.
          content:
            application/json:
              schema:
                type: object
                properties:
                  analysis: { type: string }
        '400': { description: Invalid JSON. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: OpenAI failed. }
        '503': { description: OPENAI_API_KEY not set. }
        '504': { description: OpenAI timeout. }

  /crm-draft:
    post:
      tags: [ai]
      summary: Draft a client reactivation WhatsApp-style message (never sends).
      description: PRO-gated, rate limit 10/min. OpenAI primary, Gemini fallback.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken: { type: string }
                clientName: { type: string, maxLength: 80 }
                lastService: { type: string, maxLength: 200 }
                monthsSince: { type: integer, minimum: 0, maximum: 120 }
                painterName: { type: string, maxLength: 80 }
      responses:
        '200':
          description: Drafted message.
          content:
            application/json:
              schema:
                type: object
                properties:
                  draft: { type: string }
        '400': { description: Invalid JSON. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: AI failed. }
        '503': { description: No AI keys configured. }

  /agenda-order:
    post:
      tags: [ai]
      summary: Reorder a painter's daily visit list to minimize travel time.
      description: |
        Heuristic AI optimizer using address text only (no GPS). PRO-gated,
        rate limit 5/min. Returns the reordered IDs plus a short Portuguese
        rationale.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jobs]
              properties:
                accessToken: { type: string }
                date: { type: string, description: "YYYY-MM-DD." }
                jobs:
                  type: array
                  minItems: 2
                  maxItems: 40
                  items:
                    type: object
                    required: [id]
                    properties:
                      id: { type: string, maxLength: 80 }
                      client_name: { type: string, maxLength: 120 }
                      address: { type: string, maxLength: 240 }
                      scheduled_time: { type: string, maxLength: 10 }
      responses:
        '200':
          description: Ordered IDs + rationale.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ordered_ids:
                    type: array
                    items: { type: string }
                  notes: { type: string, maxLength: 400 }
        '400': { description: Bad payload / fewer than 2 jobs. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: AI provider failed. }
        '503': { description: No AI keys configured. }

  /resolve-color:
    post:
      tags: [ai]
      summary: Map paint product names/codes to a hex color.
      description: |
        Batch lookup (max 60 items). Returns `{ colors: { <id>: '#rrggbb' | null } }`.
        PRO-gated, rate limit 30/min. OpenAI primary, Gemini fallback.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken: { type: string }
                items:
                  type: array
                  maxItems: 60
                  items:
                    type: object
                    required: [id, name]
                    properties:
                      id: { type: string, maxLength: 80 }
                      name: { type: string, maxLength: 160 }
                      code: { type: string, maxLength: 40 }
      responses:
        '200':
          description: Map of id -> hex (or null).
          content:
            application/json:
              schema:
                type: object
                properties:
                  colors:
                    type: object
                    additionalProperties:
                      type: string
                      nullable: true
        '400': { description: Invalid JSON. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: AI failed. }
        '503': { description: No AI keys configured. }

  /moderate:
    post:
      tags: [moderation]
      summary: Moderate text + optional image via Gemini.
      description: |
        Requires login (no PRO needed). Rate limit: 20/min per user.
        Image URL must be either a data: URL or hosted on the project's
        Supabase storage (anti-SSRF). Returns severity none/soft/hard
        plus reasons.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accessToken: { type: string }
                text: { type: string, maxLength: 4000 }
                imageUrl:
                  type: string
                  description: "data: URL or Supabase Storage URL."
      responses:
        '200':
          description: Moderation verdict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  flagged: { type: boolean }
                  severity: { type: string, enum: [none, soft, hard] }
                  reasons:
                    type: array
                    items: { type: string }
                  categories:
                    type: object
                    additionalProperties: true
                  scores:
                    type: object
                    additionalProperties: true
                  engine: { type: string, enum: [gemini, none, failed] }
        '400': { description: Invalid JSON. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '502': { description: Gemini failed. }
        '503': { description: GEMINI_API_KEY not set. }
        '504': { description: Gemini timeout. }

  /moderate-video:
    post:
      tags: [moderation]
      summary: Async video moderation via Gemini (frames + audio).
      description: |
        Post must already exist as `pending`. `media_url` is read from the
        DB (`body.mediaUrl` is ignored) and must be on Supabase Storage.
        Rate limit: 3/min per user. Videos > 25 MB stay pending for human
        review. Returns 503 with `status: 'pending'` when keys are missing
        (fail-soft for queue insertion clients).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessToken, postId]
              properties:
                accessToken: { type: string }
                postId: { type: string }
                caption: { type: string, maxLength: 2000 }
      responses:
        '200':
          description: Outcome.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [approved, rejected, pending] }
                  reasons:
                    type: array
                    items: { type: string }
                  reason: { type: string }
        '400': { description: Invalid JSON / missing postId / no media_url. }
        '401': { description: Invalid token. }
        '403': { description: Caller is not the post owner. }
        '404': { description: Post not found. }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }
        '503':
          description: GEMINI_API_KEY / service role not set.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: pending }
                  error: { type: string }

  /ig-art:
    post:
      tags: [ai, social]
      summary: Generate an Instagram-ready art image + caption from a photo.
      description: |
        Pipeline: OpenAI gpt-image-1 (image-to-image) primary, Gemini
        fallback; caption via Gemini text with OpenAI fallback. PRO-gated,
        rate limit 5/min. Hard outer timeout of 28s (Cloudflare Pages 30s
        limit). Accepts JSON only — `photoDataUrl` is a base64 data URL
        (NOT multipart, unlike `/caption` / `/area-from-photo`).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [photoDataUrl]
              properties:
                accessToken: { type: string }
                photoDataUrl:
                  type: string
                  description: data URL of the input photo (max 8 MB base64).
                photoDataUrl2:
                  type: string
                  description: Optional second photo (used for antes/depois templates).
                style:
                  type: string
                  enum: [portrait, antesdepois, profissional, trabalho, grafite]
                  default: portrait
                aspect:
                  type: string
                  enum: [square, vertical, horizontal]
                  default: square
                captionHint: { type: string, maxLength: 300 }
                businessName: { type: string, maxLength: 80 }
      responses:
        '200':
          description: Generated image + caption.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IgArtResult'
        '400': { description: Invalid JSON / invalid photo data URL. }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '413': { description: Input photo > 8 MB. }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Handler crash. }
        '502':
          description: Image provider failed (returns model_tried for debugging).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  detail: { type: string }
                  model_tried: { type: string }
        '503': { description: OPENAI_API_KEY not set. }
        '504': { description: Outer hard timeout (28s). }

  /ig-art-diag:
    get:
      tags: [admin, ai]
      summary: List available Gemini models for diagnostics.
      description: |
        Returns Gemini models reachable with the configured key (and
        OpenAI image models if `?openai=1`). PRO-gated, rate limit
        10/min — meant for devs.
      security:
        - BearerAuth: []
      parameters:
        - name: openai
          in: query
          required: false
          schema: { type: string, enum: ['1'] }
          description: Pass `1` to also list OpenAI image models.
      responses:
        '200':
          description: Diagnostic info.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  gemini:
                    type: object
                    additionalProperties: true
                  openai:
                    type: object
                    additionalProperties: true
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ProRequired' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { description: Internal error. }

  /checkout:
    post:
      tags: [payments]
      summary: Create a Mercado Pago preapproval (R$ 39/month PRO subscription).
      description: |
        Requires a valid Supabase JWT in `accessToken`. userId/email come
        from the JWT only (not the body) to prevent attackers from
        activating PRO on another user's account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessToken]
              properties:
                accessToken: { type: string }
      responses:
        '200':
          description: Mercado Pago init point.
          content:
            application/json:
              schema:
                type: object
                properties:
                  init_point: { type: string, format: uri }
                  preapproval_id:
                    type: string
                    nullable: true
        '400': { description: Invalid JSON / email missing from JWT. }
        '401': { description: Missing or invalid accessToken. }
        '500': { description: Internal error. }
        '502': { description: Mercado Pago failed. }
        '503': { description: MP_ACCESS_TOKEN not configured. }
        '504': { description: Mercado Pago timeout (15s). }

  /mp-checkout-loja:
    post:
      tags: [payments]
      summary: Create a Mercado Pago Checkout Pro preference for a store order.
      description: |
        Looks up the order, validates ownership and `pending` status,
        re-prices items from `products` (anti-tampering — client-side
        price is ignored), and creates a one-shot MP preference. Returns
        init_point + orderId.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId, accessToken]
              properties:
                orderId: { type: string }
                accessToken: { type: string }
      responses:
        '200':
          description: Init point.
          content:
            application/json:
              schema:
                type: object
                properties:
                  init_point: { type: string, format: uri }
                  orderId: { type: string }
                  preference_id:
                    type: string
                    nullable: true
        '400': { description: Missing orderId / empty cart / invalid product. }
        '401': { description: Missing or invalid accessToken. }
        '403': { description: Order belongs to another user. }
        '404': { description: Order not found. }
        '409': { description: Order is not in `pending` status. }
        '500': { description: Internal error. }
        '502': { description: Mercado Pago or product lookup failed. }
        '503': { description: MP_ACCESS_TOKEN or service role missing. }
        '504': { description: Mercado Pago timeout (15s). }

  /mp-webhook:
    post:
      tags: [payments]
      summary: Mercado Pago webhook (preapproval + payment events).
      description: |
        Validates the `x-signature` header (HMAC-SHA256) when
        `MP_WEBHOOK_SECRET` is set. Toggles `profiles.is_pro` for
        preapproval events and updates `orders.status` for payment
        events. Always responds 200 to avoid retries (any internal crash
        is swallowed into a 200 by the route handler too). Anti-fraud:
        PRO preapproval must be BRL 39 +/- 1 centavo to activate.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Mercado Pago notification payload (varies by event type).
      responses:
        '200':
          description: Ack (always — even when ignoring the event).
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean }
                  msg: { type: string }
        '401':
          description: Invalid x-signature (only when MP_WEBHOOK_SECRET enforces).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: invalid signature }
    get:
      tags: [payments]
      summary: Mercado Pago liveness probe.
      description: MP performs a GET handshake before activating the webhook.
      responses:
        '200':
          description: Ack.
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean, example: true }
                  msg: { type: string, example: mp-webhook ativo }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Supabase JWT (access_token from supabase-js). Several endpoints
        also accept the token via `accessToken` field in the JSON body
        or multipart FormData (vanilla-client compat) when the
        Authorization header is inconvenient.

  responses:
    Unauthenticated:
      description: Missing or invalid token / login required.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Caller is not an admin (email not in ADMIN_EMAILS).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ProRequired:
      description: Endpoint requires `profile.is_pro = true`.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Rate limit exceeded for this endpoint+user.
      headers:
        Retry-After:
          schema: { type: integer }
          description: Seconds to wait before retrying.
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
              limit: { type: integer }
              count: { type: integer }
              retry_after_seconds: { type: integer }

  schemas:
    Error:
      type: object
      properties:
        error: { type: string }

    FinAggregate:
      type: object
      description: |
        Monthly aggregate consumed by `/fin-analysis`. Vanilla shape:
        receita (revenue), custos (costs), lucro (profit), jobsCount.
      properties:
        receita: { type: number }
        custos: { type: number }
        lucro: { type: number }
        jobsCount: { type: integer }

    IgArtResult:
      type: object
      description: |
        Mirror of `IgArtResult` in `next-app/lib/api/_services/ig-art.ts`.
      properties:
        imageDataUrl: { type: string, description: data:image/* base64. }
        caption: { type: string }
        style: { type: string }
        aspect: { type: string }
        model: { type: string, description: Provider+model that succeeded. }

    # ─── Domain types (mirror of next-app/lib/types.ts) ──────────────────
    # Included for completeness even though most endpoints work on
    # opaque payloads. Useful when REST clients want to type the rows
    # they receive from `/me-export` etc.

    UserRole:
      type: string
      enum: [pintor, grafiteiro, automotivo, cliente, admin]

    Profile:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, nullable: true }
        tag:
          type: string
          nullable: true
          description: |
            Lowercase handle (a-z, 0-9, _, 3-24 chars). Synced with
            `username` by a BEFORE INSERT/UPDATE trigger.
        username: { type: string, nullable: true }
        avatar_url: { type: string, nullable: true }
        role: { $ref: '#/components/schemas/UserRole' }
        user_type: { type: string, nullable: true }
        is_pro: { type: boolean, nullable: true }
        is_admin: { type: boolean, nullable: true }
        display_name: { type: string, nullable: true }
        email: { type: string, nullable: true }
        phone: { type: string, nullable: true }
        city: { type: string, nullable: true }
        state: { type: string, nullable: true }
        address: { type: string, nullable: true }
        bio: { type: string, nullable: true }
        specialties: { type: string, nullable: true }
        profession: { type: string, nullable: true }
        rating_avg: { type: number, nullable: true }
        review_count: { type: integer, nullable: true }
        lat: { type: number, nullable: true }
        lng: { type: number, nullable: true }
        portal_access: { type: boolean, nullable: true }
        business_logo_url: { type: string, nullable: true }
        business_name: { type: string, nullable: true }
        pro_expires_at: { type: string, format: date-time, nullable: true }
        service_radius: { type: number, nullable: true }
        created_at: { type: string, format: date-time, nullable: true }

    PostStatus:
      type: string
      enum: [approved, pending, rejected]
      nullable: true

    PostMediaType:
      type: string
      enum: [image, video, story]

    Post:
      type: object
      required: [id, user_id, created_at]
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        caption: { type: string, nullable: true }
        media_url: { type: string, nullable: true }
        media_type: { $ref: '#/components/schemas/PostMediaType' }
        status: { $ref: '#/components/schemas/PostStatus' }
        for_sale: { type: boolean, nullable: true }
        price: { type: number, nullable: true }
        art_type:
          type: string
          nullable: true
          description: "fachada | mural | interna | logo | outro | <legacy>"
        created_at: { type: string, format: date-time }

    OrderStatus:
      type: string
      description: |
        Canonical DB values: pending, paid, amount_mismatch, refunded,
        canceled. Legacy PT labels (rascunho/pendente/pago/enviado/
        entregue/cancelado) accepted for backwards compat.
      enum:
        - pending
        - paid
        - amount_mismatch
        - refunded
        - canceled
        - rascunho
        - pendente
        - pago
        - enviado
        - entregue
        - cancelado

    OrderItem:
      type: object
      required: [product_id, name, qty, price]
      properties:
        product_id: { type: string }
        name: { type: string }
        qty: { type: integer }
        price: { type: number }

    Order:
      type: object
      required: [id, user_id, status, items, total, created_at]
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/OrderStatus' }
        items:
          type: array
          items: { $ref: '#/components/schemas/OrderItem' }
        total: { type: number }
        paid_amount: { type: number, nullable: true }
        shipping_address:
          type: object
          nullable: true
          properties:
            cep: { type: string }
            rua: { type: string }
            numero: { type: string }
            complemento: { type: string }
            bairro: { type: string }
            cidade: { type: string }
            uf: { type: string }
        tracking_code: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time, nullable: true }

    QuoteStatus:
      type: string
      enum:
        - pending
        - rascunho
        - enviado
        - aprovado
        - em_execucao
        - concluido
        - recusado
        - aceito

    Quote:
      type: object
      required: [id, painter_id]
      properties:
        id: { type: string, format: uuid }
        painter_id: { type: string, format: uuid }
        client_id: { type: string, format: uuid, nullable: true }
        client_name: { type: string, nullable: true }
        status: { $ref: '#/components/schemas/QuoteStatus' }
        title: { type: string, nullable: true }
        service_type: { type: string, nullable: true }
        area_m2: { type: number, nullable: true }
        address: { type: string, nullable: true }
        description: { type: string, nullable: true }
        price: { type: number, nullable: true }
        proposed_date: { type: string, nullable: true }
        sent_at: { type: string, format: date-time, nullable: true }
        approved_at: { type: string, format: date-time, nullable: true }
        approved_by: { type: string, nullable: true }
        approval_method: { type: string, nullable: true }
        completed_at: { type: string, format: date-time, nullable: true }
        images:
          type: array
          items: { type: string }
          nullable: true
        created_at: { type: string, format: date-time }

    NotificationType:
      type: string
      description: |
        Closed set known by the UI; the DB column accepts any text and
        new types may arrive before the code is updated.
      enum:
        - like
        - comment
        - follow
        - message
        - quote_sent
        - quote_approved
        - order
        - review
        - announcement
        - info
        - system

    Notification:
      type: object
      required: [id, created_at]
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid, nullable: true }
        actor_id: { type: string, format: uuid, nullable: true }
        type: { $ref: '#/components/schemas/NotificationType' }
        title: { type: string, nullable: true }
        body: { type: string, nullable: true }
        ref_id: { type: string, nullable: true }
        read: { type: boolean, nullable: true }
        created_at: { type: string, format: date-time }
